@model ProjectManagement.Models.Project

<div>
    <label>Created Date:</label>
    @Html.DisplayFor(m => m.CreatedDate, "DateTime")
</div>

<div>
    <label>Task Title:</label>
    @Html.DisplayFor(m => m.TaskTitle, "ProjectTaskTitle")
</div>
